.ColorPicker{
    padding: 10px;
}

.Title{
    line-height: 1.3;
}
    
.Option{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: none;
    cursor: pointer;

    transform: transform 250ms linear;
}
.Option--active{
    transform: scale(1.2);

}