.Container{
    text-align: center;
}
.Panting{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.Card{
    margin: 5px;
    list-style: none;
    background-color: rgba(101, 216, 93, 0.621);
    border-radius: 10px;
   padding-bottom: 20px;
}